.tabla {
    border-collapse: collapse;
    margin-bottom: 0;
  }
  
  .tabla td {
    border-bottom: 1px dashed #d7d7d7;
  }
  
  .tabla a {
    color: #242424;
  }
  
  .tabla .bold {
    color: #0a0a0a;
    font-weight: 600;
  }
  
  .tabla thead {
    background: none;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #8a8a8a;
    font-size: 0.8rem;
  }
  
  .tabla thead a {
    color: #8a8a8a;
  }
  
 .tabla tbody {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .tabla tbody tr {
    transition: all 0.5s ease;
  }
  
  .tabla tbody tr:nth-child(even) {
    background: none;
  }
  
  .tabla tr:last-child td {
    border-bottom: 0;
  }
  
  .tabla-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  
  .tabla-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  .imagen {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.6rem;
    max-width: 100px;
  }

.row{
    padding: 25px;
}

h4 {
    text-align: center;
    padding: 20px;
    color: white;
    background: #1779ba;
}